.table-img {
    max-width: 50px; /* Custom width for small images */
  }


  .container-tmbh-data{
    top: 30px;
    right: 30px;
    justify-content: right;
    position: relative;
  }

  .tmbh-data-title {
    top: 15px;
    position: relative;
  }

  .select-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
  }

  .textarea-noscroll {
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    width: 100%;
  }

  .deskripsi-label {
    padding-left: 25px;
  }

  .deskripsi-label-tanggal{
    padding-left: 25px;
    font-size: 20px;
  }

  .accordion-item.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.text-Marah { 
  color: red; 
}

.text-Bahagia { 
  color: blue; 
}

.text-Sedih { 
  color: green; 
}

.text-success {
  color: green;
}
.text-danger {
  color: red;
}

.line::before {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: #9e9e9e;  /* Warna garis */
          margin: -15px 0 15px 0 ;/* Jarak atas dan bawah garis */
}

.text_cerita {
  font-weight: bold;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-exists {
  width: 100%;
  height: 100%;
}